/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFont;
    src: url(../font/OpenSans.ttf);
}

:root {
    --darkBlueGreenColor: #1D8B94;
    --blueGreenColor: #53D3DE;
    --bgColor: #f5f9f6;
    --textColor: #343531;
    --blackColor: #000;
    --whiteColor: #ffffff;
    --mainTransition: all .3s;
}

body {
    font-family: myFont;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--textColor);
}

p {
    color: var(--textColor);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: var(--mainTransition);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* Start Header  */
.header {
    min-height: 70px;
    background-color: var(--blueGreenColor);
}

.header .container {}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo a {
    font-size: 25px;
    color: var(--whiteColor);
    font-weight: bold;
}

.header .container ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .container ul li {
    margin-left: 20px;
    padding: 22px 10px;
    cursor: pointer;
    transition: var(--mainTransition) ease-in-out;
}

.header .container ul li a {
    color: var(--whiteColor);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;

}

.header .container ul li:hover {
    background-color: var(--darkBlueGreenColor);
}

/* End Header  */
/*Start Home Section*/
.home {
    position: relative;
    background: url(../img/bg_image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90.5vh;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 53, 49, 0.7);
}

.home .container .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .container .home-text h1 {
    color: var(--whiteColor);
    font-size: 50px;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.home .container .home-text h1 span {
    color: var(--blueGreenColor);
}

.home .container .home-text p {
    color: var(--whiteColor);
    margin-top: 10px;
}

/*End Home Section*/
/* Start definition Section  */
.definition .container,
.semiology .container,
.symptoms .container,
.role .container {
    padding: 40px 0;
    border-bottom: 1px solid #f0f0f0;
}

.definition .container h2,
.semiology .container h2,
.symptoms .container h2,
.role .container h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .5px;
}

.definition .container .row {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.definition .container .row .def-text h3 {
    text-transform: capitalize;
}

.definition .container .row .def-text p {
    font-size: 20px;
    margin: 20px 0;
}

.definition .container .row .def-text ul {
    list-style: disc;
}

.definition .container .row .def-text ul li {
    margin-bottom: 10px;
    margin-left: 20px;
    color: #6E807A;
}

/* End definition Section  */
/* Start semiology Section  */
.semiology .container .row {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.semiology .container .row .box {
    background-color: var(--whiteColor);
    padding: 25px;
    border-radius: 5px;
    width: calc((100% - 60px) / 3);
}

.semiology .container .row .box .box-title {
    margin-bottom: 20px;
}

.semiology .container .row .box .box-title h3 {
    text-transform: capitalize;
    text-align: center;
}

.semiology .container .row .box .box-details ul {
    list-style: disc;
    padding: 0 15px;
}

.semiology .container .row .box .box-details ul li {
    margin-bottom: 15px;
}

/* End semiology Section  */

/* Start symptoms Section  */
.symptoms .container .row {
    padding: 60px 0;
}

.symptoms .container .row p {
    letter-spacing: .5px;
    font-size: 18px;
    margin-bottom: 20px;
}

.symptoms .container .row p:nth-of-type(2) {
    margin-bottom: 40px;
}

.symptoms .container .row .box {
    display: flex;
    justify-content: space-between;
}

.symptoms .container .row .box ul {
    list-style: disc;
    list-style-position: inside;
}

.symptoms .container .row .box ul li {
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* End symptoms Section  */
/* Start Section Role  */
.role .container .row {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.role .container .row .box {
    width: calc(100% - 30px / 2);
    background-color: var(--whiteColor);
    padding: 20px 25px;
    border-radius: 5px;

}

.role .container .row .box .box-title {
    margin-bottom: 30px;
}

.role .container .row .box .box-title h3 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .5px;
}

.role .container .row .box .box-desc ul {
    list-style: disc;
    padding: 0 15px;
}

.role .container .row .box .box-desc ul li {
    margin-bottom: 15px;
}

/* End Section Role  */
/* Start footer  */
.footer {
    background-color: var(--blueGreenColor);
}

.footer .container {
    padding: 30px 0;
    display: flex;
}

.footer .container .box {
    width: calc(100% / 3);
    text-align: center;
}

.footer .container .box svg {
    text-align: center;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

.footer .container .box p {
    color: var(--whiteColor);
    letter-spacing: .5px;
}

.footer .container .box p:last-of-type {
    margin-top: 15px;
}

/* End footer  */

.up {
    position: fixed;
    bottom: 10px;
    right: -30px;
    background-color: var(--darkBlueGreenColor);
    color: var(--whiteColor);
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--mainTransition) ease-in-out;
}

.up.show {
    right: 10px;
}